<ion-header>
  <ion-toolbar color="primary" mode="md" class="ion-text-center">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="color: white; text-align: center; margin-right: 40px;">Tyre Bay Trailer Checksheet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card style="background-color: white;">

    <!--      SMALL INSPECTION      -->

    <div *ngIf="checkType === 'Small'">

      <ion-item>
        <ion-label position="floating">Trailer Registration</ion-label>
        <ion-input [readonly]="true" [(ngModel)]="trailerSml.trailerReg"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Trailer Check Type</ion-label>
        <ion-input [readonly]="true" [(ngModel)]="trailerSml.checkType"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Job Card Number</ion-label>
        <ion-input readOnly="true" [(ngModel)]="trailerSml.jobNo"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Date</ion-label>
        <ion-input [readonly]="true" [(ngModel)]="trailerSml.date"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Time In</ion-label>
        <ion-input [readonly]="true" [(ngModel)]="trailerSml.timeIn"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Valve Cap</ion-label>
        <ion-row>
          <ion-col size="2">
            <ion-checkbox color="success" mode="ios" [(ngModel)]="optionA1" (ionChange)=changeA1()>
            </ion-checkbox>
          </ion-col>
          <ion-col>Yes </ion-col>
          <ion-col size="2">
            <ion-checkbox color="danger" mode="ios" [(ngModel)]="optionA2" (ionChange)=changeA2()>
            </ion-checkbox>
          </ion-col>
          <ion-col>No</ion-col>
        </ion-row>
      </ion-item>

      <div *ngIf="optionA1 === false">
        <ion-item>
          <ion-label position="floating">Note</ion-label>
          <ion-input [(ngModel)]="deviations.note1"></ion-input>
        </ion-item>
        <ion-grid>
          <ion-grid fixed *ngIf="deviations.photo1 !== ''">
            <ion-row>
              <ion-col size="12" size-xs="6" size-sm="6" size-md="4" size-lg="4" size-xl="3">
                <ion-button (click)="removeImage('photo1')" fill="clear" class="trash_btn">
                  <ion-icon name="trash-outline" slot="icon-only" color="danger"></ion-icon>
                </ion-button>
                <img src="{{deviations.photo1}}" style="height: 100px;" />
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-row *ngIf="deviations.photo1 === ''">
            <ion-col class="ion-text-center">
              <ion-button (click)="presentActionSheet('photo1', filePickerRef1)">
                <ion-icon name="camera" slot="start"></ion-icon>UPLOAD PHOTO
              </ion-button>
            </ion-col>
          </ion-row>
          <input type="file" #imageChooser1 (change)="onChooseFile($event, 'photo1')" [hidden]='true' />
        </ion-grid>
      </div>

      <ion-item>
        <ion-label>Valve Ext</ion-label>
        <ion-row>
          <ion-col size="2">
            <ion-checkbox color="success" mode="ios" [(ngModel)]="optionB1" (ionChange)=changeB1()>
            </ion-checkbox>
          </ion-col>
          <ion-col>Yes </ion-col>
          <ion-col size="2">
            <ion-checkbox color="danger" mode="ios" [(ngModel)]="optionB2" (ionChange)=changeB2()>
            </ion-checkbox>
          </ion-col>
          <ion-col>No</ion-col>
        </ion-row>
      </ion-item>

      <div *ngIf="optionB1 === false">
        <ion-item>
          <ion-label position="floating">Note</ion-label>
          <ion-input [(ngModel)]="deviations.note2"></ion-input>
        </ion-item>
        <ion-grid>
          <ion-grid fixed *ngIf="deviations.photo2 !== ''">
            <ion-row>
              <ion-col size="12" size-xs="6" size-sm="6" size-md="4" size-lg="4" size-xl="3">
                <ion-button (click)="removeImage('photo2')" fill="clear" class="trash_btn">
                  <ion-icon name="trash-outline" slot="icon-only" color="danger"></ion-icon>
                </ion-button>
                <img src="{{deviations.photo2}}" style="height: 100px;" />
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-row *ngIf="deviations.photo2 === ''">
            <ion-col class="ion-text-center">
              <ion-button (click)="presentActionSheet('photo2', filePickerRef2)">
                <ion-icon name="camera" slot="start"></ion-icon>UPLOAD PHOTO
              </ion-button>
            </ion-col>
          </ion-row>
          <input type="file" #imageChooser2 (change)="onChooseFile($event, 'photo2')" [hidden]='true' />
        </ion-grid>
      </div>

      <ion-item>
        <ion-label>Condition</ion-label>
        <ion-icon *ngIf="trailerSml.condition !== ''" name="ellipse"
          [ngClass]="{'red' : trailerSml.condition==='25%','orange' : trailerSml.condition==='50%', 'green2' : trailerSml.condition === '75%', 'green' : trailerSml.condition==='100%'}">
        </ion-icon>
        <ion-select (ionChange)="update()" [(ngModel)]="trailerSml.condition">
          <ion-select-option>25%</ion-select-option>
          <ion-select-option>50%</ion-select-option>
          <ion-select-option>75%</ion-select-option>
          <ion-select-option>100%</ion-select-option>
        </ion-select>
      </ion-item>

      <div *ngIf="trailerSml.condition === '25%'">
        <ion-item>
          <ion-label position="floating">Note</ion-label>
          <ion-input [(ngModel)]="deviations.note3"></ion-input>
        </ion-item>
        <ion-grid>
          <ion-grid fixed *ngIf="deviations.photo3 !== ''">
            <ion-row>
              <ion-col size="12" size-xs="6" size-sm="6" size-md="4" size-lg="4" size-xl="3">
                <ion-button (click)="removeImage('photo3')" fill="clear" class="trash_btn">
                  <ion-icon name="trash-outline" slot="icon-only" color="danger"></ion-icon>
                </ion-button>
                <img src="{{deviations.photo3}}" style="height: 100px;" />
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-row *ngIf="deviations.photo3 === ''">
            <ion-col class="ion-text-center">
              <ion-button (click)="presentActionSheet('photo3', filePickerRef3)">
                <ion-icon name="camera" slot="start"></ion-icon>UPLOAD PHOTO
              </ion-button>
            </ion-col>
          </ion-row>
          <input type="file" #imageChooser3 (change)="onChooseFile($event, 'photo3')" [hidden]='true' />
        </ion-grid>
      </div>

      <ion-item>
        <ion-label>Check Tyre's with a pipe</ion-label>
        <ion-row>
          <ion-col size="2">
            <ion-checkbox color="success" mode="ios" [(ngModel)]="optionD1" (ionChange)=changeD1()>
            </ion-checkbox>
          </ion-col>
          <ion-col>Yes </ion-col>
          <ion-col size="2">
            <ion-checkbox color="danger" mode="ios" [(ngModel)]="optionD2" (ionChange)=changeD2()>
            </ion-checkbox>
          </ion-col>
          <ion-col>No</ion-col>
        </ion-row>
      </ion-item>

      <div *ngIf="optionD1 === false">
        <ion-item>
          <ion-label position="floating">Note</ion-label>
          <ion-input [(ngModel)]="deviations.note4"></ion-input>
        </ion-item>
        <ion-grid>
          <ion-grid fixed *ngIf="deviations.photo4 !== ''">
            <ion-row>
              <ion-col size="12" size-xs="6" size-sm="6" size-md="4" size-lg="4" size-xl="3">
                <ion-button (click)="removeImage('photo4')" fill="clear" class="trash_btn">
                  <ion-icon name="trash-outline" slot="icon-only" color="danger"></ion-icon>
                </ion-button>
                <img src="{{deviations.photo4}}" style="height: 100px;" />
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-row *ngIf="deviations.photo4 === ''">
            <ion-col class="ion-text-center">
              <ion-button (click)="presentActionSheet('photo4', filePickerRef4)">
                <ion-icon name="camera" slot="start"></ion-icon>UPLOAD PHOTO
              </ion-button>
            </ion-col>
          </ion-row>
          <input type="file" #imageChooser4 (change)="onChooseFile($event, 'photo4')" [hidden]='true' />
        </ion-grid>
      </div>


      <ion-item>
        <ion-label position="floating">Controller Name</ion-label>
        <ion-input [readonly]="true" [(ngModel)]="trailerSml.controller"></ion-input>
      </ion-item>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-item>
            <ion-label class="ion-text-center">Controller Signature </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row [hidden]="trailerSml.controllerSig !== ''" [ngClass]="{ 'drawing-active': isDrawing2 }">
        <ion-col class="ion-text-center">
          <signature-pad style="border: solid #666666;" #sigpad2 ngDefaultControl [options]="signaturePadOptions"
            (onBeginEvent)="drawStart2()" (onEndEvent)="drawComplete2()">
          </signature-pad>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="trailerSml.controllerSig !== ''">
        <ion-col class="ion-text-center">
          <img [src]="trailerSml.controllerSig">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-button fill="clear" color="danger" (click)="clearPad2()">Reset Signature</ion-button>
        </ion-col>
      </ion-row>

    </div>

    <!--    MEDIUM INSPECTION      -->
    <div *ngIf="checkType === 'Medium'">

      <ion-item>
        <ion-label position="floating">Trailer Registration</ion-label>
        <ion-input [readonly]="true" [(ngModel)]="trailerMid.trailerReg"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Trailer Check Type</ion-label>
        <ion-input [readonly]="true" [(ngModel)]="trailerMid.checkType"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Job Card Number</ion-label>
        <ion-input readOnly="true" [(ngModel)]="trailerMid.jobNo"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Date</ion-label>
        <ion-input [readonly]="true" [(ngModel)]="trailerMid.date"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Time In</ion-label>
        <ion-input [readonly]="true" [(ngModel)]="trailerMid.timeIn"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Valve Cap</ion-label>
        <ion-row>
          <ion-col size="2">
            <ion-checkbox color="success" mode="ios" [(ngModel)]="optionA1" (ionChange)=changeA1()>
            </ion-checkbox>
          </ion-col>
          <ion-col>Yes </ion-col>
          <ion-col size="2">
            <ion-checkbox color="danger" mode="ios" [(ngModel)]="optionA2" (ionChange)=changeA2()>
            </ion-checkbox>
          </ion-col>
          <ion-col>No</ion-col>
        </ion-row>
      </ion-item>

      <div *ngIf="optionA1 === false">
        <ion-item>
          <ion-label position="floating">Note</ion-label>
          <ion-input [(ngModel)]="deviations.note1"></ion-input>
        </ion-item>
        <ion-grid>
          <ion-grid fixed *ngIf="deviations.photo1 !== ''">
            <ion-row>
              <ion-col size="12" size-xs="6" size-sm="6" size-md="4" size-lg="4" size-xl="3">
                <ion-button (click)="removeImage('photo1')" fill="clear" class="trash_btn">
                  <ion-icon name="trash-outline" slot="icon-only" color="danger"></ion-icon>
                </ion-button>
                <img src="{{deviations.photo1}}" style="height: 100px;" />
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-row *ngIf="deviations.photo1 === ''">
            <ion-col class="ion-text-center">
              <ion-button (click)="presentActionSheet('photo1', filePickerRef1)">
                <ion-icon name="camera" slot="start"></ion-icon>UPLOAD PHOTO
              </ion-button>
            </ion-col>
          </ion-row>
          <input type="file" #imageChooser1 (change)="onChooseFile($event, 'photo1')" [hidden]='true' />
        </ion-grid>
      </div>

      <ion-item>
        <ion-label>Valve Ext</ion-label>
        <ion-row>
          <ion-col size="2">
            <ion-checkbox color="success" mode="ios" [(ngModel)]="optionB1" (ionChange)=changeB1()>
            </ion-checkbox>
          </ion-col>
          <ion-col>Yes </ion-col>
          <ion-col size="2">
            <ion-checkbox color="danger" mode="ios" [(ngModel)]="optionB2" (ionChange)=changeB2()>
            </ion-checkbox>
          </ion-col>
          <ion-col>No</ion-col>
        </ion-row>
      </ion-item>

      <div *ngIf="optionB1 === false">
        <ion-item>
          <ion-label position="floating">Note</ion-label>
          <ion-input [(ngModel)]="deviations.note2"></ion-input>
        </ion-item>
        <ion-grid>
          <ion-grid fixed *ngIf="deviations.photo2 !== ''">
            <ion-row>
              <ion-col size="12" size-xs="6" size-sm="6" size-md="4" size-lg="4" size-xl="3">
                <ion-button (click)="removeImage('photo2')" fill="clear" class="trash_btn">
                  <ion-icon name="trash-outline" slot="icon-only" color="danger"></ion-icon>
                </ion-button>
                <img src="{{deviations.photo2}}" style="height: 100px;" />
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-row *ngIf="deviations.photo2 === ''">
            <ion-col class="ion-text-center">
              <ion-button (click)="presentActionSheet('photo2', filePickerRef2)">
                <ion-icon name="camera" slot="start"></ion-icon>UPLOAD PHOTO
              </ion-button>
            </ion-col>
          </ion-row>
          <input type="file" #imageChooser2 (change)="onChooseFile($event, 'photo2')" [hidden]='true' />
        </ion-grid>
      </div>

      <ion-item>
        <ion-label>Torqued</ion-label>
        <ion-row>
          <ion-col size="2">
            <ion-checkbox color="success" mode="ios" [(ngModel)]="optionC1" (ionChange)=changeC1()>
            </ion-checkbox>
          </ion-col>
          <ion-col>Yes </ion-col>
          <ion-col size="2">
            <ion-checkbox color="danger" mode="ios" [(ngModel)]="optionC2" (ionChange)=changeC2()>
            </ion-checkbox>
          </ion-col>
          <ion-col>No</ion-col>
        </ion-row>
      </ion-item>

      <div *ngIf="optionC1 === false">
        <ion-item>
          <ion-label position="floating">Note</ion-label>
          <ion-input [(ngModel)]="deviations.note3"></ion-input>
        </ion-item>
        <ion-grid>
          <ion-grid fixed *ngIf="deviations.photo3 !== ''">
            <ion-row>
              <ion-col size="12" size-xs="6" size-sm="6" size-md="4" size-lg="4" size-xl="3">
                <ion-button (click)="removeImage('photo3')" fill="clear" class="trash_btn">
                  <ion-icon name="trash-outline" slot="icon-only" color="danger"></ion-icon>
                </ion-button>
                <img src="{{deviations.photo3}}" style="height: 100px;" />
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-row *ngIf="deviations.photo3 === ''">
            <ion-col class="ion-text-center">
              <ion-button (click)="presentActionSheet('photo3', filePickerRef3)">
                <ion-icon name="camera" slot="start"></ion-icon>UPLOAD PHOTO
              </ion-button>
            </ion-col>
          </ion-row>
          <input type="file" #imageChooser3 (change)="onChooseFile($event, 'photo3')" [hidden]='true' />
        </ion-grid>
      </div>

      <ion-item>
        <ion-label>Condition</ion-label>
        <ion-icon *ngIf="trailerMid.condition !== ''" name="ellipse"
          [ngClass]="{'red' : trailerMid.condition==='25%','orange' : trailerMid.condition==='50%', 'green2' : trailerMid.condition === '75%', 'green' : trailerMid.condition==='100%'}">
        </ion-icon>
        <ion-select (ionChange)="update()" [(ngModel)]="trailerMid.condition">
          <ion-select-option>25%</ion-select-option>
          <ion-select-option>50%</ion-select-option>
          <ion-select-option>75%</ion-select-option>
          <ion-select-option>100%</ion-select-option>
        </ion-select>
      </ion-item>

      <div *ngIf="trailerMid.condition === '25%'">
        <ion-item>
          <ion-label position="floating">Note</ion-label>
          <ion-input [(ngModel)]="deviations.note4"></ion-input>
        </ion-item>
        <ion-grid>
          <ion-grid fixed *ngIf="deviations.photo4 !== ''">
            <ion-row>
              <ion-col size="12" size-xs="6" size-sm="6" size-md="4" size-lg="4" size-xl="3">
                <ion-button (click)="removeImage('photo4')" fill="clear" class="trash_btn">
                  <ion-icon name="trash-outline" slot="icon-only" color="danger"></ion-icon>
                </ion-button>
                <img src="{{deviations.photo4}}" style="height: 100px;" />
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-row *ngIf="deviations.photo4 === ''">
            <ion-col class="ion-text-center">
              <ion-button (click)="presentActionSheet('photo4', filePickerRef4)">
                <ion-icon name="camera" slot="start"></ion-icon>UPLOAD PHOTO
              </ion-button>
            </ion-col>
          </ion-row>
          <input type="file" #imageChooser4 (change)="onChooseFile($event, 'photo4')" [hidden]='true' />
        </ion-grid>
      </div>

      <ion-item>
        <ion-label>Check Tyre's with a pipe</ion-label>
        <ion-row>
          <ion-col size="2">
            <ion-checkbox color="success" mode="ios" [(ngModel)]="optionE1" (ionChange)=changeE1()>
            </ion-checkbox>
          </ion-col>
          <ion-col>Yes </ion-col>
          <ion-col size="2">
            <ion-checkbox color="danger" mode="ios" [(ngModel)]="optionE2" (ionChange)=changeE2()>
            </ion-checkbox>
          </ion-col>
          <ion-col>No</ion-col>
        </ion-row>
      </ion-item>

      <div *ngIf="optionE1 === false">
        <ion-item>
          <ion-label position="floating">Note</ion-label>
          <ion-input [(ngModel)]="deviations.note5"></ion-input>
        </ion-item>
        <ion-grid>
          <ion-grid fixed *ngIf="deviations.photo5 !== ''">
            <ion-row>
              <ion-col size="12" size-xs="6" size-sm="6" size-md="4" size-lg="4" size-xl="3">
                <ion-button (click)="removeImage('photo5')" fill="clear" class="trash_btn">
                  <ion-icon name="trash-outline" slot="icon-only" color="danger"></ion-icon>
                </ion-button>
                <img src="{{deviations.photo5}}" style="height: 100px;" />
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-row *ngIf="deviations.photo5 === ''">
            <ion-col class="ion-text-center">
              <ion-button (click)="presentActionSheet('photo5', filePickerRef5)">
                <ion-icon name="camera" slot="start"></ion-icon>UPLOAD PHOTO
              </ion-button>
            </ion-col>
          </ion-row>
          <input type="file" #imageChooser5 (change)="onChooseFile($event, 'photo5')" [hidden]='true' />
        </ion-grid>
      </div>

      <ion-item>
        <ion-label position="floating">Notes</ion-label>
        <ion-textarea [(ngModel)]="trailerMid.notes"></ion-textarea>
      </ion-item>


      <ion-item>
        <ion-label position="floating">Controller Name</ion-label>
        <ion-input [readonly]="true" [(ngModel)]="trailerMid.controller"></ion-input>

      </ion-item>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-item>
            <ion-label class="ion-text-center">Controller Signature </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row [hidden]="trailerMid.controllerSig !== ''" [ngClass]="{ 'drawing-active': isDrawing2 }">
        <ion-col class="ion-text-center">
          <signature-pad style="border: solid #666666;" #sigpad2 ngDefaultControl [options]="signaturePadOptions"
            (onBeginEvent)="drawStart2()" (onEndEvent)="drawComplete2()">
          </signature-pad>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="trailerMid.controllerSig !== ''">
        <ion-col class="ion-text-center">
          <img [src]="trailerMid.controllerSig">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-button fill="clear" color="danger" (click)="clearPad2()">Reset Signature</ion-button>
        </ion-col>
      </ion-row>
    </div>

    <!--    LARGE INSPECTION      -->
    <div *ngIf="checkType === 'Large'">

      <ion-item>
        <ion-label position="floating">Trailer Registration</ion-label>
        <ion-input [readonly]="true" [(ngModel)]="trailerLrg.trailerReg"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Trailer Check Type</ion-label>
        <ion-input [readonly]="true" [(ngModel)]="trailerLrg.checkType"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Job Card Number</ion-label>
        <ion-input readOnly="true" [(ngModel)]="trailerLrg.jobNo"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Date</ion-label>
        <ion-input [readonly]="true" [(ngModel)]="trailerLrg.date"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Time In</ion-label>
        <ion-input [readonly]="true" [(ngModel)]="trailerLrg.timeIn"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Valve Cap</ion-label>
        <ion-row>
          <ion-col size="2">
            <ion-checkbox color="success" mode="ios" [(ngModel)]="optionA1" (ionChange)=changeA1()>
            </ion-checkbox>
          </ion-col>
          <ion-col>Yes </ion-col>
          <ion-col size="2">
            <ion-checkbox color="danger" mode="ios" [(ngModel)]="optionA2" (ionChange)=changeA2()>
            </ion-checkbox>
          </ion-col>
          <ion-col>No</ion-col>
        </ion-row>
      </ion-item>

      <div *ngIf="optionA1 === false">
        <ion-item>
          <ion-label position="floating">Note</ion-label>
          <ion-input [(ngModel)]="deviations.note1"></ion-input>
        </ion-item>
        <ion-grid>
          <ion-grid fixed *ngIf="deviations.photo1 !== ''">
            <ion-row>
              <ion-col size="12" size-xs="6" size-sm="6" size-md="4" size-lg="4" size-xl="3">
                <ion-button (click)="removeImage('photo1')" fill="clear" class="trash_btn">
                  <ion-icon name="trash-outline" slot="icon-only" color="danger"></ion-icon>
                </ion-button>
                <img src="{{deviations.photo1}}" style="height: 100px;" />
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-row *ngIf="deviations.photo1 === ''">
            <ion-col class="ion-text-center">
              <ion-button (click)="presentActionSheet('photo1', filePickerRef1)">
                <ion-icon name="camera" slot="start"></ion-icon>UPLOAD PHOTO
              </ion-button>
            </ion-col>
          </ion-row>
          <input type="file" #imageChooser1 (change)="onChooseFile($event, 'photo1')" [hidden]='true' />
        </ion-grid>
      </div>

      <ion-item>
        <ion-label>Valve Ext</ion-label>
        <ion-row>
          <ion-col size="2">
            <ion-checkbox color="success" mode="ios" [(ngModel)]="optionB1" (ionChange)=changeB1()>
            </ion-checkbox>
          </ion-col>
          <ion-col>Yes </ion-col>
          <ion-col size="2">
            <ion-checkbox color="danger" mode="ios" [(ngModel)]="optionB2" (ionChange)=changeB2()>
            </ion-checkbox>
          </ion-col>
          <ion-col>No</ion-col>
        </ion-row>
      </ion-item>

      <div *ngIf="optionB1 === false">
        <ion-item>
          <ion-label position="floating">Note</ion-label>
          <ion-input [(ngModel)]="deviations.note2"></ion-input>
        </ion-item>
        <ion-grid>
          <ion-grid fixed *ngIf="deviations.photo2 !== ''">
            <ion-row>
              <ion-col size="12" size-xs="6" size-sm="6" size-md="4" size-lg="4" size-xl="3">
                <ion-button (click)="removeImage('photo2')" fill="clear" class="trash_btn">
                  <ion-icon name="trash-outline" slot="icon-only" color="danger"></ion-icon>
                </ion-button>
                <img src="{{deviations.photo2}}" style="height: 100px;" />
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-row *ngIf="deviations.photo2 === ''">
            <ion-col class="ion-text-center">
              <ion-button (click)="presentActionSheet('photo2', filePickerRef2)">
                <ion-icon name="camera" slot="start"></ion-icon>UPLOAD PHOTO
              </ion-button>
            </ion-col>
          </ion-row>
          <input type="file" #imageChooser2 (change)="onChooseFile($event, 'photo2')" [hidden]='true' />
        </ion-grid>
      </div>

      <ion-item>
        <ion-label>Torqued</ion-label>
        <ion-row>
          <ion-col size="2">
            <ion-checkbox color="success" mode="ios" [(ngModel)]="optionC1" (ionChange)=changeC1()>
            </ion-checkbox>
          </ion-col>
          <ion-col>Yes </ion-col>
          <ion-col size="2">
            <ion-checkbox color="danger" mode="ios" [(ngModel)]="optionC2" (ionChange)=changeC2()>
            </ion-checkbox>
          </ion-col>
          <ion-col>No</ion-col>
        </ion-row>
      </ion-item>

      <div *ngIf="optionC1 === false">
        <ion-item>
          <ion-label position="floating">Note</ion-label>
          <ion-input [(ngModel)]="deviations.note3"></ion-input>
        </ion-item>
        <ion-grid>
          <ion-grid fixed *ngIf="deviations.photo3 !== ''">
            <ion-row>
              <ion-col size="12" size-xs="6" size-sm="6" size-md="4" size-lg="4" size-xl="3">
                <ion-button (click)="removeImage('photo3')" fill="clear" class="trash_btn">
                  <ion-icon name="trash-outline" slot="icon-only" color="danger"></ion-icon>
                </ion-button>
                <img src="{{deviations.photo3}}" style="height: 100px;" />
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-row *ngIf="deviations.photo3 === ''">
            <ion-col class="ion-text-center">
              <ion-button (click)="presentActionSheet('photo3', filePickerRef3)">
                <ion-icon name="camera" slot="start"></ion-icon>UPLOAD PHOTO
              </ion-button>
            </ion-col>
          </ion-row>
          <input type="file" #imageChooser3 (change)="onChooseFile($event, 'photo3')" [hidden]='true' />
        </ion-grid>
      </div>

      <ion-item>
        <ion-label>Condition</ion-label>
        <ion-icon *ngIf="trailerLrg.condition !== ''" name="ellipse"
          [ngClass]="{'red' : trailerLrg.condition==='25%','orange' : trailerLrg.condition==='50%', 'green2' : trailerLrg.condition === '75%', 'green' : trailerLrg.condition==='100%'}">
        </ion-icon>
        <ion-select (ionChange)="update()" [(ngModel)]="trailerLrg.condition">
          <ion-select-option>25%</ion-select-option>
          <ion-select-option>50%</ion-select-option>
          <ion-select-option>75%</ion-select-option>
          <ion-select-option>100%</ion-select-option>
        </ion-select>
      </ion-item>

      <div *ngIf="trailerLrg.condition === '25%'">
        <ion-item>
          <ion-label position="floating">Note</ion-label>
          <ion-input [(ngModel)]="deviations.note4"></ion-input>
        </ion-item>
        <ion-grid>
          <ion-grid fixed *ngIf="deviations.photo4 !== ''">
            <ion-row>
              <ion-col size="12" size-xs="6" size-sm="6" size-md="4" size-lg="4" size-xl="3">
                <ion-button (click)="removeImage('photo4')" fill="clear" class="trash_btn">
                  <ion-icon name="trash-outline" slot="icon-only" color="danger"></ion-icon>
                </ion-button>
                <img src="{{deviations.photo4}}" style="height: 100px;" />
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-row *ngIf="deviations.photo4 === ''">
            <ion-col class="ion-text-center">
              <ion-button (click)="presentActionSheet('photo4', filePickerRef4)">
                <ion-icon name="camera" slot="start"></ion-icon>UPLOAD PHOTO
              </ion-button>
            </ion-col>
          </ion-row>
          <input type="file" #imageChooser4 (change)="onChooseFile($event, 'photo4')" [hidden]='true' />
        </ion-grid>
      </div>

      <ion-item>
        <ion-label>Electronic survey tool</ion-label>
        <ion-row>
          <ion-col size="2">
            <ion-checkbox color="success" mode="ios" [(ngModel)]="optionE1" (ionChange)=changeE1()>
            </ion-checkbox>
          </ion-col>
          <ion-col>Yes </ion-col>
          <ion-col size="2">
            <ion-checkbox color="danger" mode="ios" [(ngModel)]="optionE2" (ionChange)=changeE2()>
            </ion-checkbox>
          </ion-col>
          <ion-col>No</ion-col>
        </ion-row>
      </ion-item>

      <div *ngIf="optionE1 === false">
        <ion-item>
          <ion-label position="floating">Note</ion-label>
          <ion-input [(ngModel)]="deviations.note5"></ion-input>
        </ion-item>
        <ion-grid>
          <ion-grid fixed *ngIf="deviations.photo5 !== ''">
            <ion-row>
              <ion-col size="12" size-xs="6" size-sm="6" size-md="4" size-lg="4" size-xl="3">
                <ion-button (click)="removeImage('photo5')" fill="clear" class="trash_btn">
                  <ion-icon name="trash-outline" slot="icon-only" color="danger"></ion-icon>
                </ion-button>
                <img src="{{deviations.photo5}}" style="height: 100px;" />
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-row *ngIf="deviations.photo5 === ''">
            <ion-col class="ion-text-center">
              <ion-button (click)="presentActionSheet('photo5', filePickerRef5)">
                <ion-icon name="camera" slot="start"></ion-icon>UPLOAD PHOTO
              </ion-button>
            </ion-col>
          </ion-row>
          <input type="file" #imageChooser5 (change)="onChooseFile($event, 'photo5')" [hidden]='true' />
        </ion-grid>
      </div>

      <ion-item>
        <ion-label>Branding of Tyre's</ion-label>
        <ion-row>
          <ion-col size="2">
            <ion-checkbox color="success" mode="ios" [(ngModel)]="optionF1" (ionChange)=changeF1()>
            </ion-checkbox>
          </ion-col>
          <ion-col>Yes </ion-col>
          <ion-col size="2">
            <ion-checkbox color="danger" mode="ios" [(ngModel)]="optionF2" (ionChange)=changeF2()>
            </ion-checkbox>
          </ion-col>
          <ion-col>No</ion-col>
        </ion-row>
      </ion-item>

      <div *ngIf="optionF1 === false">
        <ion-item>
          <ion-label position="floating">Note</ion-label>
          <ion-input [(ngModel)]="deviations.note6"></ion-input>
        </ion-item>
        <ion-grid>
          <ion-grid fixed *ngIf="deviations.photo6 !== ''">
            <ion-row>
              <ion-col size="12" size-xs="6" size-sm="6" size-md="4" size-lg="4" size-xl="3">
                <ion-button (click)="removeImage('photo6')" fill="clear" class="trash_btn">
                  <ion-icon name="trash-outline" slot="icon-only" color="danger"></ion-icon>
                </ion-button>
                <img src="{{deviations.photo6}}" style="height: 100px;" />
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-row *ngIf="deviations.photo6 === ''">
            <ion-col class="ion-text-center">
              <ion-button (click)="presentActionSheet('photo6', filePickerRef6)">
                <ion-icon name="camera" slot="start"></ion-icon>UPLOAD PHOTO
              </ion-button>
            </ion-col>
          </ion-row>
          <input type="file" #imageChooser6 (change)="onChooseFile($event, 'photo6')" [hidden]='true' />
        </ion-grid>
      </div>

      <ion-item>
        <ion-label>Spraying Rims</ion-label>
        <ion-row>
          <ion-col size="2">
            <ion-checkbox color="success" mode="ios" [(ngModel)]="optionG1" (ionChange)=changeG1()>
            </ion-checkbox>
          </ion-col>
          <ion-col>Yes </ion-col>
          <ion-col size="2">
            <ion-checkbox color="danger" mode="ios" [(ngModel)]="optionG2" (ionChange)=changeG2()>
            </ion-checkbox>
          </ion-col>
          <ion-col>No</ion-col>
        </ion-row>
      </ion-item>

      <div *ngIf="optionG1 === false">
        <ion-item>
          <ion-label position="floating">Note</ion-label>
          <ion-input [(ngModel)]="deviations.note7"></ion-input>
        </ion-item>
        <ion-grid>
          <ion-grid fixed *ngIf="deviations.photo7 !== ''">
            <ion-row>
              <ion-col size="12" size-xs="6" size-sm="6" size-md="4" size-lg="4" size-xl="3">
                <ion-button (click)="removeImage('photo7')" fill="clear" class="trash_btn">
                  <ion-icon name="trash-outline" slot="icon-only" color="danger"></ion-icon>
                </ion-button>
                <img src="{{deviations.photo7}}" style="height: 100px;" />
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-row *ngIf="deviations.photo7 === ''">
            <ion-col class="ion-text-center">
              <ion-button (click)="presentActionSheet('photo7', filePickerRef7)">
                <ion-icon name="camera" slot="start"></ion-icon>UPLOAD PHOTO
              </ion-button>
            </ion-col>
          </ion-row>
          <input type="file" #imageChooser7 (change)="onChooseFile($event, 'photo7')" [hidden]='true' />
        </ion-grid>
      </div>

      <ion-item>
        <ion-label position="floating">Notes</ion-label>
        <ion-textarea [(ngModel)]="trailerLrg.notes"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Controller Name</ion-label>
        <ion-input [readonly]="true" [(ngModel)]="trailerLrg.controller"></ion-input>

      </ion-item>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-item>
            <ion-label class="ion-text-center">Controller Signature </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row [hidden]="trailerLrg.controllerSig !== ''" [ngClass]="{ 'drawing-active': isDrawing2 }">
        <ion-col class="ion-text-center">
          <signature-pad style="border: solid #666666;" #sigpad2 ngDefaultControl [options]="signaturePadOptions"
            (onBeginEvent)="drawStart2()" (onEndEvent)="drawComplete2()">
          </signature-pad>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="trailerLrg.controllerSig !== ''">
        <ion-col class="ion-text-center">
          <img [src]="trailerLrg.controllerSig">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-button fill="clear" color="danger" (click)="clearPad2()">Reset Signature</ion-button>
        </ion-col>
      </ion-row>

    </div>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar color="light">
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button color="success" (click)="check()">
          <ion-icon name="save-outline" slot="start"></ion-icon>Save
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>