<ion-header>
  <ion-toolbar color="primary" mode="md" class="ion-text-center">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="color: white; text-align: center; margin-right: 40px;">Diesel Bay Check In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card style="background-color: white;">

    <ion-row *ngIf="checked === false">
      <ion-col class="ion-text-center">
        <ion-button (click)="scan()" color="primary">
          <ion-icon name="qr-code" slot="start"></ion-icon>Scan Licence
        </ion-button>
      </ion-col>
    </ion-row>

    <div *ngIf="checked === true">
      <ion-label style="text-align: center;">This {{displayType}} needs a Diesel Fill</ion-label>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-button (click)="route()">Let's Go!</ion-button>
        </ion-col>
      </ion-row>
    </div>

  </ion-card>
</ion-content>