<ion-header>
  <ion-toolbar color="secondary" mode="md" class="ion-text-center">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="color: white; text-align: center; margin-right: 40px;">Security Check In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card style="background-color: white;">

    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button (click)="scan('truck')" color="primary">
          <ion-icon name="qr-code" slot="start"></ion-icon>Scan Truck
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-item>
      <ion-label position="floating">Truck Registration</ion-label>
      <ion-input [readonly]="true" [(ngModel)]="security.truckReg"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label style="color: darkblue;" position="floating">Truck KM</ion-label>
      <ion-input type="number" (ionChange)="update()" [(ngModel)]="security.truckKM"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Truck Check Type</ion-label>
      <ion-input [readonly]="true" [(ngModel)]="security.truckCheck"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label style="color: darkblue;" position="floating">Does this Truck have a trailer 1</ion-label>
      <ion-checkbox (ionChange)="update()" [(ngModel)]="trailer1"></ion-checkbox>
    </ion-item>

    <div *ngIf="trailer1">

      <ion-row>
        <ion-col class="ion-text-center">
          <ion-button (click)="scan('trailer1')" color="primary">
            <ion-icon name="qr-code" slot="start"></ion-icon>Scan Trailer 1
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-item>
        <ion-label position="floating">Trailer 1 Registration</ion-label>
        <ion-input [readonly]="true" [(ngModel)]="security.trailer1Reg"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label style="color: darkblue;" position="floating">Trailer 1 KM</ion-label>
        <ion-input type="number" (ionChange)="update()" [(ngModel)]="security.trailer1KM"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Trailer 1 Check Type</ion-label>
        <ion-input [readonly]="true" [(ngModel)]="security.trailer1Check"></ion-input>
      </ion-item>

    </div>

    <ion-item>
      <ion-label style="color: darkblue;" position="floating">Does this Truck have a trailer 2</ion-label>
      <ion-checkbox [(ngModel)]="trailer2"></ion-checkbox>
    </ion-item>

    <div *ngIf="trailer2">

      <ion-row>
        <ion-col class="ion-text-center">
          <ion-button (click)="scan('trailer2')" color="primary">
            <ion-icon name="qr-code" slot="start"></ion-icon>Scan Trailer 2
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-item>
        <ion-label position="floating">Trailer 2 Registration</ion-label>
        <ion-input [readonly]="true" [(ngModel)]="security.trailer2Reg"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label style="color: darkblue;" position="floating">Trailer 2 KM</ion-label>
        <ion-input type="number" (ionChange)="update()" [(ngModel)]="security.trailer2KM"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Trailer 2 Check Type</ion-label>
        <ion-input [readonly]="true" [(ngModel)]="security.trailer2Check"></ion-input>
      </ion-item>

    </div>

    <ion-item>
      <ion-label style="color: darkblue;" position="floating">JOB-CARD NUMBER</ion-label>
      <ion-input type="number" (ionChange)="update()" [(ngModel)]="security.jobNo"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">DATE</ion-label>
      <ion-input [readonly]="true" [(ngModel)]="security.date"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">TIME IN</ion-label>
      <ion-input [readonly]="true" [(ngModel)]="security.timeIn"></ion-input>
    </ion-item>

    <!--
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button (click)="scan('driver')" color="primary">
          <ion-icon name="qr-code" slot="start"></ion-icon>Scan Driver Licence
        </ion-button>
      </ion-col>
    </ion-row>
-->

    <ion-item>
      <ion-label position="floating">DRIVER NAME</ion-label>
      <ion-input [readonly]="true" [(ngModel)]="security.driver"></ion-input>
    </ion-item>
    <ion-row>
      <ion-col style="color: darkblue;" size="10" class="ion-text-center">
        <ion-label>Is this the correct driver?</ion-label>
      </ion-col>
      <ion-col class="ion-text-center">
        <ion-checkbox [(ngModel)]="correctDriver" (ionChange)="getDrivers()"></ion-checkbox>
      </ion-col>
    </ion-row>

    <ion-item *ngIf="!correctDriver">
      <ion-label position="floating">SELECT THE DRIVER</ion-label>
      <ion-select [(ngModel)]="security.driver" (ionChange)="updateDriver()">
        <ion-select-option *ngFor="let driver of drivers">{{ driver.name }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label style="color: darkblue;" position="floating">PARKING BAY NUMBER</ion-label>
      <ion-input (ionChange)="update()" [(ngModel)]="security.bayNo"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">CONTROLLER NAME</ion-label>
      <ion-input [readonly]="true" [(ngModel)]="security.controller"></ion-input>
    </ion-item>

    <ion-row>
      <ion-col class="ion-text-center">
        <ion-item>
          <ion-label class="ion-text-center">Controller Signature </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row [hidden]="security.controllerSig !== ''" [ngClass]="{ 'drawing-active': isDrawing }">
      <ion-col class="ion-text-center">
        <signature-pad style="border: solid #666666;" #sigpad ngDefaultControl [options]="signaturePadOptions"
          (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()">
        </signature-pad>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="security.controllerSig !== ''">
      <ion-col class="ion-text-center">
        <img [src]="security.controllerSig">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button fill="clear" color="danger" (click)="clearPad()">Reset Signature</ion-button>
      </ion-col>
    </ion-row>

  </ion-card>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button color="success" (click)="check()">
          <ion-icon name="save-outline" slot="start"></ion-icon>Save Check
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>