<ion-content class="fix-menu" style="background-color: #123d82 !important;">

    <section class="login p-fixed d-flex ion-text-center common-img-bg">
        <!-- Container-fluid starts -->
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-md-6" style="margin: 0 auto; margin-top: 30px;">
                        <img src="assets/imgs/logo.jpg" role="img" />
                    </div>
                    <!-- Authentication card start -->
                    <div class="login-card card-block auth-body mr-auto ml-auto">
                        <form class="md-float-material" [formGroup]="forgotPasswordForm">
                            <div class="auth-box">
                                <div class="row m-b-20">
                                    <div class="col-md-12">
                                        <h3 class="text-left txt-primary">Password Reset</h3>
                                    </div>
                                </div>
                                <hr />
                                <div class="input-group">
                                    <ion-input type="email" class="form-control" placeholder="Your Email Address"
                                        formControlName="email"></ion-input>
                                    <span class="md-line"></span>
                                </div>
                                <div class="form__message"
                                    *ngIf="forgotPasswordForm.invalid && email.touched && email.errors?.required">
                                    Please enter your email.
                                </div>
                                <div class="form__message" *ngIf="email.dirty && email.errors?.email">Please enter a
                                    valid email
                                    address.</div>
                                <ion-button [disabled]="forgotPasswordForm.invalid" style="margin-top: 15px;"
                                    color="success" expand="block" (click)="requestReset()">Send Request</ion-button>
                                <ion-button color="danger" routerLink="/login" routeDirection="forward" expand="block"
                                    fill="clear" style="margin-top: 20px;">Cancel</ion-button>

                                <hr />
                            </div>
                        </form>
                        <!-- end of form -->
                    </div>
                    <!-- Authentication card end -->
                </div>
                <!-- end of col-sm-12 -->
            </div>
            <!-- end of row -->
        </div>
        <!-- end of container-fluid -->
    </section>
</ion-content>